сделать ограничение на доступ к ручкам по ролям 

сделать переход из дашборда в тест с подтверждением

добавить добавление дедлайна к созданию теста

написать обработчик сабмита формы создания теста

сделать создание студентов и админов

сделать создание и управление группами

сделать нормальное ограничение времени прохождения теста

сделать результаты тестов для студентов и преподавателей

пример копирования студентов из еу Контингент
 `
1	Батовкин Александр Егорович	22У593	ИУ1-62Б	09.03.03/05													
2	Зонов Алексей Сергеевич	21У546	ИУ1-62Б	09.03.03/05													
3	Исаев Тимур Анатольевич	22У469	ИУ1-62Б	09.03.03/05													
4	Королева Татьяна Вадимовна	22У926	ИУ1-62Б	09.03.03/05													
5	Коршунов Александр Ильич	22У927	ИУ1-62Б	09.03.03/05													
6	Куркчи Иван Иванович	22У1260	ИУ1-62Б	09.03.03/05													
7	Лебедев Павел Юрьевич	22У494	ИУ1-62Б	09.03.03/05													
8	Лозин Валерий Павлович	22У500	ИУ1-62Б	09.03.03/05													
9	Морозов Алексей Артемович	22У948	ИУ1-62Б	09.03.03/05													
10	Мухаметзянов Амир Айдарович	22У249	ИУ1-62Б	09.03.03/05													
11	Несытов Ярослав Олегович	22У679	ИУ1-62Б	09.03.03/05													
12	Нигматуллин Руслан Рамильевич	22У524	ИУ1-62Б	09.03.03/05													
13	Овчинников Александр Юрьевич	22У1201	ИУ1-62Б	09.03.03/05													
14	Осипенко Анастасия Александровна	22У532	ИУ1-62Б	09.03.03/05													
15	Савенков Николай Алексеевич	22У544	ИУ1-62Б	09.03.03/05													
16	Саранча Михаил Михайлович	22У700	ИУ1-62Б	09.03.03/05													
17	Светлаков Владимир Денисович	22У547	ИУ1-62Б	09.03.03/05													
18	Сидельников Артём Сергеевич	22У704	ИУ1-62Б	09.03.03/05													
19	Синдеев Всеволод Александрович	22У310	ИУ1-62Б	09.03.03/05													
20	Степанян Арман Нельсонович	21У902	ИУ1-62Б	09.03.03/05													
21	Таукаева Софья Руслановна	22У557	ИУ1-62Б	09.03.03/05													
22	Фаталиев Джавид Сефибекович	22У563	ИУ1-62Б	09.03.03/05													
23	Чернышов Павел Сергеевич	21У1007	ИУ1-62Б	09.03.03/05													
24	Чистяков Арсений Евгеньевич	22У728	ИУ1-62Б	09.03.03/05													
25	Чупраков Сергей Дмитриевич	22У576	ИУ1-62Б	09.03.03/05													
26	Ястремский Никита Александрович	22У366	ИУ1-62Б	09.03.03/05
`